body{
    background-image: url(../images/computer-desk-doctor-48604.jpg);   background-size: cover;
    background-color: white;
  padding: 0px;

}

/*login page start*/

.main{
    background-color: #563d7cbf;

}
.WelcomeText
{
/*       background-color: #563d7cbf;*/
    height: 102px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    padding: 10px 0px 10px;
    margin: 20px 15%;
    width: 70%;
}
.Signup,.LogIn{
/*     background-color: #563d7cbf;*/
    color: white;
     font-family: 'Roboto Mono', monospace;
    padding: 20px;
    text-align: center;

}
.SignupForm{

}
.SignupForm input,.LoginForm input{
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    color: #563d7cbf;
}
.CoverImg{
    background-color: #ffffff80;
}
.ProIcon{
    padding: 20px
}
.DoctorsMenu{
        background-color: #a5c0d3cf;
    color: white;
}

/*login page end*/